<!DOCTYPE html>
<html ng-app="electronAngDemo">

<head>
  <meta charset="UTF-8">
  <title>Electron - Angular 1.x Application</title>
  <link rel="stylesheet" href="./css/index.css" type="text/css">
  <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="mainCtrl">

  <p>Input something in the input box:</p>
  <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>

  <div class="row">
    <div>
      <ul ng-repeat="user in users">
        <li>{{ user.name }}</li>
      </ul>
    </div>
  </div>

  <script src="./node_modules/jquery/dist/jquery.js"></script>
  <script src="./node_modules/angular/angular.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>